<section class="sidebar col-md-5 col-sm-12" style='background-image: url({{"/img/" | append: page.feature_image | prepend: site.baseurl }});'>

    <span class="menu-trigger animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

    <div class="site-info">
        <div class="primary-info">
            <h1>{{ page.title }}</h1>
            <p>{{ page.desc }}</p>

        </div>

        {% if page.include_cta_btn == true %}
        <div class="secondary-info">
            <p>
                <a class="btn btn-primary" id="newsletter" href="{{ page.cta_link | prepend: site.baseurl }}"><i class="fa {{ page.cta_icon }}"></i>{{page.cta_text}}</a>
            </p>
        </div>
        {% endif %}
    </div>
</section>

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"
    data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
    function showMailingPopUp(e) {
        e.preventDefault();
        window.dojoRequire(["mojo/signup-forms/Loader"], function (L) { L.start({ "baseUrl": "mc.us16.list-manage.com", "uuid": "02e5d97fcf3744f4c4be84f32", "lid": "cba378b8a9", "uniqueMethods": true }) })
        document.cookie = "MCPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
    }
    document.getElementById('newsletter').addEventListener('click', showMailingPopUp);
</script>
<!-- end sidebar -->
