.book-page-image {
  img {
    height: auto;
    width: 260px;
    border: 1px solid darkgray;
  }
  float: left;
  margin-right: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.book-page-description {
  font-size: 0.75rem;
}