.book-page-image {
  img {
    height: auto;
    width: 240px;
    border: 1px solid darkgray;
  }
  float: left;
  margin-right: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.book-page-description {

}

.book-page-discount {
  text-align: center;
  border: 1px solid lightskyblue;
  background-color: aliceblue;
  padding: 20px;
}