.book-page-image {
  img {
    height: auto;
    width: 240px;
    border: 1px solid darkgray;
  }
  float: left;
  margin-right: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.book-page-description {

}

.book-page-discount {
  text-align: center;
  border: 1px solid #d7ecff;
  background-color: aliceblue;
  padding: 20px;
}

#book-buy-btn {
  display: block;
  margin: auto;
  margin-top: 15px;

  color: white;
  font-size: 14px;
  padding: .3rem .7rem;
  text-decoration: none;
  text-shadow: none;
  background: $action-background none;
  width: 145px;
}

.toc {
  padding-top: 0;
  margin-bottom: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toc .sectionbody.hidden-toc {
  display: none;
}

.toc h1, .toc h2, .toc h3,
.toc h4, .toc h5, .toc h6 {
  font-size: 15px;
  line-height: 1.5em;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  margin: 0;
}

.toc h1, .toc h2 {
  text-transform: uppercase;
}

.toc h1 {
  font-weight: bold;
  font-size: 18px;
  border-bottom: solid thin #777777;
  padding-bottom: 0.25em;
}

.toc h1:not(.sect0):not(.view-in-livebook) {
  display: none;
}

.toc .book_actions a {
  display: block;
  float: right;
  color: #333333;
}

.toc .book_actions a:hover {
  color: #407fbf;
}

.toc .paragraph {
  display: none;
}

.toc .sect1.available h2 {
  cursor: pointer;
}

.toc .sect0, .toc .sect1 {
  font-weight: bold;
  text-transform: uppercase;
}

.toc .sect0, .toc .sect0 + .sect1,
.toc .sect1:last-child {
  margin-top: 19px;
  font-weight: bold;
  text-transform: uppercase;
}

.toc .sect1 + .sect1 {
  margin-top: 9.5px;
}

.toc div:not(.sect0):not(.sect1):not(.sectionbody):not(.header):not(.body):not(#content) {
  margin-left: 19px;
}

.toc .toc-controllo {
  margin: -0.5em -0.5em -0.5em 0;
  padding: 0.5em;
  cursor: pointer;
  color: #333333;
}

.toc .toc-controllo.toc-expando .retracto {
  display: none;
}

.toc .toc-controllo.toc-retracto .expando {
  display: none;
}

@media (min-width: 768px) {
  .toc div.available .tooltip {
    left: -116px !important;
  }
}

.toc .download-link {
  display: inline-block;
  margin-left: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45px;
  height: 16px;
  color: #407fbf;
  text-decoration: none;
  white-space: nowrap;
  background-image: url(/images/free-chapter.svg);
}

.toc a {
  text-decoration: none;
}
