.measure {
  margin: 0 auto;
  max-width: $measure-width;
}

.book-header {
  display: flex;
  justify-content: space-evenly;
}

#book-cover {
  img {
    height: auto;
    max-width: 135px;
    border: 1px solid darkgray;
  }
}

#book-description {
  margin-left: 1rem;
  margin-bottom: 1rem;

  .call-to-action {
    margin-top: 4px;
    margin-bottom: 5px;
    font-size: 17px;
    font-style: italic;
  }

  #book-title {
    font-size: 24px;
  }

  #book-title-description {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #book-actions {
    display: flex;
    justify-content: space-between;

    .book-action-button {
      color: white;
      font-size: 14px;
      padding: .3rem .7rem;
      text-decoration: none;
      text-shadow: none;
      background: $action-background none;
    }
  }
}