---
layout: default
---

<header>
    <span class="menu-trigger animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

    {% include nav.html %}
</header>

<main class="container">
    <div class="row">
        <div class="col-xs-12 single-content">
            <h1>{{ page.title }}</h1>

            <p class="meta">
                <a href="{{ page.author_url | prepend: site.baseurl }}">{{ page.author_name }}</a> in <a href='{{ "/category/" | append: page.categories.first | prepend: site.baseurl }}'>{{ page.categories[0] }}</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> {% include read_time.html %}
            </p>

            {{ content }}

            <div class="related-posts">
                <p>Read next:</p>
                <ul>
                    {% if page.previous.url %}
                    <li><a class="prev" href="{{page.previous.url}}">{{page.previous.title}}</a></li>
                    {% endif %}
                    {% if page.next.url %}
                    <li><a class="next" href="{{page.next.url}}">{{page.next.title}}</a></li>
                    {% endif %}
                </ul>
            </div>

        </div><!-- main-content/col -->
    </div> <!--/row -->

</main> <!-- /container -->

<footer class="single">
    {% include footer-single.html %}

    {% if page.show_related_posts == true %}
        {% include footer-related-posts.html %}
    {% endif %}
</footer>
